# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# VS Code settings
.vscode/

# Logs and databases
*.log
*.sqlite3

# Environment variable files (like secrets)
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# pytest and coverage
.pytest_cache/
.coverage
htmlcov/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MyPy cache
.mypy_cache/
